<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springcloud.provider.menu.mapper.MenuRoleMapper" >
  <resultMap id="BaseResultMap" type="com.springcloud.provider.menu.entity.MenuRole" >
    <id column="menu_role_id" property="menuRoleId" jdbcType="INTEGER" />
    <result column="is_available" property="isAvailable" jdbcType="BIT" />
    <result column="menu_role_identify" property="menuRoleIdentify" jdbcType="VARCHAR" />
    <result column="menu_role_name" property="menuRoleName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menu_role_id, is_available, menu_role_identify, menu_role_name, create_time, create_by, 
    update_time, update_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.springcloud.provider.menu.entity.MenuRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from menu_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu_role
    where menu_role_id = #{menuRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu_role
    where menu_role_id = #{menuRoleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.springcloud.provider.menu.entity.MenuRoleExample" >
    delete from menu_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springcloud.provider.menu.entity.MenuRole" >
    insert into menu_role (menu_role_id, is_available, menu_role_identify, 
      menu_role_name, create_time, create_by, 
      update_time, update_by)
    values (#{menuRoleId,jdbcType=INTEGER}, #{isAvailable,jdbcType=BIT}, #{menuRoleIdentify,jdbcType=VARCHAR}, 
      #{menuRoleName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springcloud.provider.menu.entity.MenuRole" >
    insert into menu_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuRoleId != null" >
        menu_role_id,
      </if>
      <if test="isAvailable != null" >
        is_available,
      </if>
      <if test="menuRoleIdentify != null" >
        menu_role_identify,
      </if>
      <if test="menuRoleName != null" >
        menu_role_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuRoleId != null" >
        #{menuRoleId,jdbcType=INTEGER},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=BIT},
      </if>
      <if test="menuRoleIdentify != null" >
        #{menuRoleIdentify,jdbcType=VARCHAR},
      </if>
      <if test="menuRoleName != null" >
        #{menuRoleName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springcloud.provider.menu.entity.MenuRoleExample" resultType="java.lang.Integer" >
    select count(*) from menu_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update menu_role
    <set >
      <if test="record.menuRoleId != null" >
        menu_role_id = #{record.menuRoleId,jdbcType=INTEGER},
      </if>
      <if test="record.isAvailable != null" >
        is_available = #{record.isAvailable,jdbcType=BIT},
      </if>
      <if test="record.menuRoleIdentify != null" >
        menu_role_identify = #{record.menuRoleIdentify,jdbcType=VARCHAR},
      </if>
      <if test="record.menuRoleName != null" >
        menu_role_name = #{record.menuRoleName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update menu_role
    set menu_role_id = #{record.menuRoleId,jdbcType=INTEGER},
      is_available = #{record.isAvailable,jdbcType=BIT},
      menu_role_identify = #{record.menuRoleIdentify,jdbcType=VARCHAR},
      menu_role_name = #{record.menuRoleName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springcloud.provider.menu.entity.MenuRole" >
    update menu_role
    <set >
      <if test="isAvailable != null" >
        is_available = #{isAvailable,jdbcType=BIT},
      </if>
      <if test="menuRoleIdentify != null" >
        menu_role_identify = #{menuRoleIdentify,jdbcType=VARCHAR},
      </if>
      <if test="menuRoleName != null" >
        menu_role_name = #{menuRoleName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_role_id = #{menuRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springcloud.provider.menu.entity.MenuRole" >
    update menu_role
    set is_available = #{isAvailable,jdbcType=BIT},
      menu_role_identify = #{menuRoleIdentify,jdbcType=VARCHAR},
      menu_role_name = #{menuRoleName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where menu_role_id = #{menuRoleId,jdbcType=INTEGER}
  </update>
</mapper>